openapi: 3.1.0
info:
  title: LatencyGG API
  version: "0.0.0-local"
  description: |
    An OpenAPI specification for Gameye's LatencyGG API.

  contact:
    name: Gameye Support
    email: support@gameye.com

  x-logo:
    url: https://static.gameye.com/images/android-chrome-512x512.png
    altText: Gameye

security:
  - gameyeApiKey: []
    lggApiKey: []

paths:
  /matchmaker/flexmatch/buckets/{image}:
    get:
      operationId: get-flexmatch-buckets
      summary: |
        Fetches a collection of player attributes of locations and their latency values in a FlexMatch compatible format. The response body can be directly inserted into a FlexMatch ticket for a single player.
      parameters:
        - name: image
          description: The image name of the game.
          required: true
          in: path
          schema:
            type: string
            minLength: 1
        - name: latency_limit
          in: query
          required: true
          description: |
            A list of latency milliseconds to create buckets for, defined in milliseconds.
          schema:
            type: array
            items:
              type: number
              minimum: 0
              example: 30
              minItems: 1
        - name: ip
          in: query
          required: true
          description: The public IP (ipv4 or ipv6) of the client.
          schema:
            type: string
            oneOf:
              - type: string
                format: ipv4
                example: "203.0.113.3"
              - type: string
                format: ipv6
                example: "2001:db8::2021:6a4f:1"
      responses:
        "200":
          description: |
            Successfully fetched player attributes containing list of buckets and locations.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - PlayerAttributes
                properties:
                  PlayerAttributes:
                    type: object
                    description: A list of buckets with locations.
                    additionalProperties:
                      type: object
                      additionalProperties: false
                      required:
                        - SL
                      properties:
                        SL:
                          type: array
                          minLength: 0
                          items:
                            type: string
                            example: frankfurt
              example:
                PlayerAttributes:
                  {
                    "latency_30": { SL: ["frankfurt"] },
                    "latency_50": { SL: ["amsterdam"] },
                    "latency_80": { SL: ["london-east-1"] },
                    "latency_130": { SL: ["us-east-1"] },
                  }

  /matchmaker/playfab/buckets/{image}:
    get:
      operationId: get-playfab-buckets
      summary: |
        Fetches a collection of player attributes of locations and their latency values in a PlayFab compatible format. The response body can be directly inserted into a PlayFab ticket for a single player.
      parameters:
        - name: image
          description: The image name of the game.
          required: true
          in: path
          schema:
            type: string
            minLength: 1
        - name: latency_limit
          in: query
          required: true
          description: |
            A list of latency milliseconds to create buckets for, defined in milliseconds.
          schema:
            type: number
            example: 30
            #type: array
            #items:
            #type: number
            #minimum: 0
            #example: 30
            #minItems: 1
        - name: ip
          in: query
          required: true
          description: The public IP (ipv4 or ipv6) of the client.
          schema:
            type: string
            oneOf:
              - type: string
                format: ipv4
                example: "203.0.113.3"
              - type: string
                format: ipv6
                example: "2001:db8::2021:6a4f:1"
      responses:
        "200":
          description: |
            Successfully fetched player attributes containing list of buckets and locations.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - Attributes
                properties:
                  Attributes:
                    type: object
                    additionalProperties: false
                    required:
                      - DataObject
                      - EscapedDataObject
                    properties:
                      DataObject:
                        type: object
                        additionalProperties:
                          type: array
                          minLength: 0
                          items:
                            type: string
                            example: frankfurt
                      EscapedDataObject:
                        type: string
                        description: A compact, escaped JSON representation of the DataObject field.
                        additionalProperties: false

              example:
                Attributes:
                  DataObject:
                    {
                      "latency_30": ["frankfurt"],
                      "latency_50": ["amsterdam"],
                      "latency_80": ["london-east-1"],
                      "latency_130": ["us-east-1"],
                    }
                  EscapedDataObject: '{\"latency_30\":[\"frankfurt\"],\"latency_50\":[\"amsterdam\"],\"latency_80\":[\"london-east-1\"],\"latency_130\":[\"us-east-1\"]}'

components:
  securitySchemes:
    gameyeApiKey:
      type: apiKey
      in: header
      name: gameye-api-key
      description: |
        An API key needed to communicate with Gameye's services.
    lggApiKey:
      type: apiKey
      in: header
      name: lgg-api-key
      description: |
        An API key needed to communicate with LatencyGG's services.
