openapi: 3.0.1
info:
  title: LatencyGG API
  version: "0.0.0-local"
  description: |
    An OpenAPI specification for Gameye's LatencyGG API.

  contact:
    name: Gameye Support
    email: support@gameye.com

  x-logo:
    url: https://static.gameye.com/images/android-chrome-512x512.png
    altText: Gameye

security:
  - gameyeApiKey: []
    lggApiKey: []

paths:
  /readiness:
    get:
      operationId: readiness
      security: []
      responses:
        "204":
          description: |
            This service is ready to process new requests.
        "503":
          description: |
            This service is not yet ready.

  /liveness:
    get:
      operationId: liveness
      security: []
      responses:
        "204":
          description: |
            The process of this service is currently live.
        "503":
          description: |
            The process of this service has been terminated.

  /get-flexmatch-locations/{image}:
    get:
      operationId: get-flexmatch-locations
      summary: |
        Fetches a collection of player attributes of locations and their latency values in a FlexMatch compatible format.
        The response body can be directly inserted into a FlexMatch ticket for a single player.
      parameters:
        - name: image
          description: The image name of the game.
          required: true
          in: path
          schema:
            type: string
            minLength: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - milliseconds
                - ip
              properties:
                milliseconds:
                  type: array
                  description: A list of milliseconds to create buckets for.
                  items:
                    type: number
                    minimum: 0
                    example: 30
                  minItems: 1
                ip:
                  type: string
                  description: The public IP (ipv4 or ipv6) of the client.
                  oneOf:
                    - type: string
                      format: ipv4
                    - type: string
                      format: ipv6
                  example: "203.0.113.3"
      responses:
        "200":
          description: |
            Successfully fetched player attributes containing list of buckets and locations.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required:
                  - PlayerAttributes
                properties:
                  PlayerAttributes:
                    type: object
                    description: A list of buckets with locations.
                    additionalProperties:
                      type: object
                      additionalProperties: false
                      required:
                        - SL
                      properties:
                        SL:
                          type: array
                          minLength: 0
                          items:
                            type: string
                            example: frankfurt

components:
  securitySchemes:
    gameyeApiKey:
      type: apiKey
      in: header
      name: GAMEYE-API-KEY
      description: |
        An API key needed to communicate with Gameye's services.
    lggApiKey:
      type: apiKey
      in: header
      name: LGG-API-KEY
      description: |
        An API key needed to communicate with LatencyGG's services.
